.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropbtn{
    width: 10em;
    margin-right: 0.6em;
}

.dropbtn:hover{
    cursor: pointer;
}

.dropdown-content{
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.dropdown-content.open{
    height: auto;
    width: 7em;
    position: absolute;
    background-color: antiquewhite;
    border: rgb(177, 114, 31) solid;
    border-color: rgb(177, 114, 31);
    list-style: none;
    z-index: 999;
}

.dropdown-element{
    margin-left: 1.5em;
}

.dropdown-element:hover{
    cursor: pointer;
}

.clearbtn{
    width: 1.5em;
}

.clearbtn:hover{
    cursor: pointer;
}